<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to23 <%= title %></p>
    <ul>
      <% result.forEach((sakeType) => { %>
      <li>
        <%= sakeType._id %><span style="background-color: brown;"
          ><%= sakeType.name %></span
        >
      </li>
      <% }); %>
    </ul>
  </body>
</html>
