<!DOCTYPE html>
<html  lang="en">
  <%- include('../_partial/head') %>
  <script src="/js/drawer.js"></script>
  <body>
    <%- include('../_partial/header') %>

    <section class="relative w-full pt-20">
      <section class="item-block flex-col float-left w-full bg-blue-900">
        <div class="cpntainer float-left mx-8 my-5">
          <a href="/dashboard"><p class="width-100 px-3 py-1 bg-yellow-400 text-blue-900 text-xl font-bold font-mono rounded hover:text-blue-700 text-center mx-3 my-2">Back Home</p></a>
          <a href="/divelogs/<%= result._id %>/edit"><p class="width-100 px-3 py-1 bg-yellow-400 text-blue-900 text-xl font-bold font-mono rounded hover:text-blue-700 text-center mx-3 my-2">Edit Log</p></a>
          <form action="/divelogs/<%= result._id %>?_method="DELETE" method="POST" >
            <input type="submit" value="Delete Log" class="width-100 px-3 py-1 bg-yellow-400 text-blue-900 text-xl font-bold font-mono rounded hover:text-blue-700 hover:bg-red-300 text-center mx-3 hover:cursor-pointer">
          </form>
        </div>
      </section>
      <div class="w-full bg-blue-900 flex justify-center text-center">
        <div class="w-2/3 -mx-1 text-center">
        <section class="relative w-full my-8">
          <div class="absolute w-full h-full bg-gray-800 opacity-75"></div>
          <div class="absolute bg-transparent w-full h-full flex flex-col justify-center items-center text-gray-100 hover:text-gray-200">
            <h2 class="uppercase text-5xl font-mono font-bold tracking-widest text-gray-100">
              <a href="/spots/<%= result.spot._id%>"><%= result.spot.name %></a>
            </h2>
            <h2 class="text-white uppercase text-2xl font-bold text-gray-100 font-mono tracking-widest"><%= result.spot.location %>, <%= result.spot.country %></h2>
            <h2 class="text-white uppercase text-3xl font-mono tracking-widest"><%= result.date %></h2>
          </div>
          <img src="<%= result.spot.image %>" class="object-cover w-95%" alt ="<%= result.spot_name %>">
        </section>

          <section class="item-block flex flex-col justify-center my-10">
            <h2 class="text-gray-100 text-2xl font-mono tracking-widest">Entry: <%= result.entry %></h2>
            <h2 class="text-gray-100 text-2xl font-mono tracking-widest">Current: <%= result.current %></h2>
            <h2 class="text-gray-100 text-2xl font-mono tracking-widest">Weather: <%= result.weather %></h2>
            <h2 class="text-gray-100 text-2xl font-mono tracking-widest">Air Temperature: <%= result.air_temperature %>℃</h2>
            <h2 class="text-gray-100 text-2xl font-mono tracking-widest">Water Temperature: <%= result.water_temperature %>℃</h2>
            <h2 class="text-gray-100 text-2xl font-mono tracking-widest">Max Depth: <%= result.depth %>m</h2>
            <h2 class="text-gray-100 text-2xl font-mono tracking-widest">Duration: <%= result.duration %> mins</h2>
            <h2 class="text-gray-100 text-2xl font-mono tracking-widest">Buddy: someone</h2>
            <h2 class="text-gray-100 text-xl font-mono tracking-widest">Note:<%= result.note %></h2>
          </section>
        </div>
    </div>

    </section>

    <nav
      id="nav"
      class="z-50 bg-yellow-400 uppercase font-opensans rouned
      w-64 h-full fixed top-0 right-0 hidden transition-transform-1s"
      >
      <div id="open_nav" class="top-5 ml-3">
        <svg id="close_nav" viewbox="0 0 100 80" class="cursor-pointer">
          <line x1="10" y1="10" x2="23" y2="23" stroke="#071a3b" stroke-width="4" />
          <line x1="23" y1="10" x2="10" y2="23" stroke="#071a3b" stroke-width="4" />
        </svg>
      </div>

      <div class="px-2 pt-2 pg-4">
    <a href="/users/profile" class='block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>My Profile</a>
    <a href="/users/<%= result.user._id %>/logs" class='mt-1 block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>My Dive Log</a>
    <a href="/spots" class='mt-1 block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>Find Spots</a>
    <a href="/users" class='mt-1 block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>Find Buddies</a>
    <a href="/divelogs/new" class='block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>Log a Dive</a>
    <a href="/signin"><form action="/signout" method="post">
      <input
        type="submit"
        value="Log Out"
        class="mt-1 block px-2 py-1 bg-yellow-400 text-blue-900 text-2xl font-bold font-mono uppercase rounded hover:text-blue-700 cursor:pointer w-full text-left"
      />
    </form>
    </a>
</nav>

  <%- include('../_partial/footer') %>
  </body>
</html>
