<!DOCTYPE html>
<html  lang="en">
  <%- include('../_partial/head') %>
  <script src="/js/paginate.js"></script>
  <script src="/js/drawer.js"></script>
  <body>
    <%- include('../_partial/header') %>
    <section class="pt-20 bg-blue-900">
      <div class="cpntainer w-48 items-left mx-8 my-5">
        <a href="/dashboard"><p class="px-3 py-1 bg-yellow-400 text-blue-900 text-xl font-bold font-mono rounded hover:text-blue-700 text-center mx-3 my-2">Back Home</p></a>
      </div>
      <div class="flex flex-col items-center text-gray-200 font-mono">
        <% result.forEach((user) => { %>
          <div class="w-64 items-center text-center my-5">
            <a href ='/users/<%= user._id %>'>
              <img src ="<%= user.image %>" class="w-30 rounded-full" alt ="<%= result.username %>">
              <h1 class="text-4xl bold"><%= user.username %></h1>
              <h2 class="text-xl"><%= user.country; %></h2>
              <h2 class="text-xl"><%= user.certificate; %></h2>
              <h2 class="text-xl">Total Dives: <%= user.divelogs.length %></h2>
            </a>
          </div>
        <% }); %>
        </div>

    <nav
      id="nav"
      class="z-50 bg-yellow-400 uppercase font-opensans rouned
      w-64 h-full fixed top-0 right-0 hidden transition-transform-1s"
      >
      <div id="open_nav" class="top-5 ml-3">
        <svg id="close_nav" viewbox="0 0 100 80" class="cursor-pointer">
          <line x1="10" y1="10" x2="23" y2="23" stroke="#071a3b" stroke-width="4" />
          <line x1="23" y1="10" x2="10" y2="23" stroke="#071a3b" stroke-width="4" />
        </svg>
      </div>

      <div class="px-2 pg-4">
        <a href="/users/profile" class='block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>My Profile</a>
        <a href="/spots" class='mt-1 block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>Find Spots</a>
        <a href="/divelogs/new" class='mt-1 block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>Log a Dive</a>
        <a href="/signin"><form action="/signout" method="post">
          <input
            type="submit"
            value="Log Out"
            class="mt-1 block px-2 py-1 bg-yellow-400 text-blue-900 text-2xl font-bold font-mono uppercase rounded hover:text-blue-700 cursor:pointer w-full text-left"
          />
        </form>
        </a>
    </nav>

    <%- include('../_partial/footer') %>
  </body>
</html>
