<!DOCTYPE html>
<html>
  <% include ../_partial/head %>
  <body>
    <% include ../_partial/header %>

    <h1><%= title %></h1>
    <ul>
      <% result.forEach((user) => { %>
      <li>
        <span style =font-size:x-large><a href ='/users/<%= user._id %>'><%= user.username %></a></span>
      </li>
      <li>
        <%= user.country; %>
      </li>
      <li>
        <%= user.certificate; %>
      </li>
      <% }); %>
    </ul>

    <% include ../_partial/footer %>

  </body>
</html>
