<!DOCTYPE html>
<html lang="en">
  <%- include('../_partial/head') %>
  <body>
    <%- include('../_partial/header') %>
    <div>
      <p class="text-size:x-large"><%= result.username %></p>
      <p><%= result.certificate %></p>
      <p>Country: <%= result.country %></p>
      <a href="/users/<%= result._id %>/logs"
        ><%= result.username %>'s Dive Log</a
      >
    </div>

    <div>
      <a href="/users/<%= result._id %>/edit">Edit Profile</a>
      <form action="/users/<%= result._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Leave go2dive" />
      </form>
    </div>

    <form class="flex flex-col" action="/signout" method="post">
      <input
        class="text-blue-800 p-4 py-2 margin-2 padding-2"
        type="submit"
        value="Sign Out"
      />
    </form>
    <%- include('../_partial/footer') %>
  </body>
</html>
