<!DOCTYPE html>
<html lang="en">
  <%- include('../_partial/head') %>
  <script src="/js/drawer.js"></script>
  <body>
    <%- include('../_partial/header') %>

    <div class="pt-24 absolute w-full h-screen bg-blue-800"></div>
    <div class="pt-24 absolute bg-transparent w-full h-screen">
      <a href="/dashboard" class="width-100 px-3 py-1 bg-yellow-400 text-blue-900 text-xl font-bold font-mono rounded hover:text-blue-700 text-center mx-3">Back Home</a>
            <section class="w-full bg-blue-800 p-2 md:p-4">
              <section class="w-full p-1 md:p-4 container mx-auto">
                <ul class="flex flex-col justify-center items-center">
                  <% result.divelogs.forEach((divelog, i) => { %>
                    <li class="w-full md:w-1/2 p-2 md:p-4">
                      <div class="relative bg-gray-900">
                        <div class="absolute bg-gray-900 opacity-75 h-full w-full"></div>
                        <div class="absolute h-full w-full flex justify-center items-center text-2xl text-bold text-gray-200 hover:text-gray-400 font-mono text-center">
                          <a href="/divelogs/<%= divelog._id %>"><%= `Dive #${i + 1}` %><br><%= divelog.spot.name %></a><br>
                        </div>
                        <img src="<%= divelog.spot.image %>" class="object-cover h-full w-full" alt ="<%= divelog.spot_name %>">
                    </li>
                  <% }) %>
                </ul>
              </section>
            </section>

            <nav
            id="nav"
            class="z-50 bg-yellow-400 uppercase font-opensans rouned
            w-64 h-full fixed top-0 right-0 hidden transition-transform-1s"
            >
            <div id="open_nav" class="top-5 ml-3">
              <svg id="close_nav" viewbox="0 0 100 80" class="cursor-pointer">
                <line x1="10" y1="10" x2="23" y2="23" stroke="#071a3b" stroke-width="4" />
                <line x1="23" y1="10" x2="10" y2="23" stroke="#071a3b" stroke-width="4" />
              </svg>
            </div>

            <div class="px-2 pt-2 pg-4">
                <% if (isMe) { %> <a href="/divelogs/new" class='block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>Log a Dive</a> <% } %>
                <a href="/users/profile" class='block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>My Profile</a>
                <a href="/spots" class='mt-1 block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>Find Spots</a>
                <a href="/users" class='mt-1 block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>Find Buddies</a>
                <a href="/signin"><form action="/signout" method="post">
                  <input
                    type="submit"
                    value="Log Out"
                    class="mt-1 block px-2 py-1 bg-yellow-400 text-blue-900 text-2xl font-bold font-mono uppercase rounded hover:text-blue-700 cursor:pointer w-full text-left"
                  />
                </form>
                </a>
            </nav>
    <%-include('../_partial/footer') %>
  </body>
</html>
