<!DOCTYPE html>
<html  lang="en">
  <%- include('../_partial/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Dive Spots</title>
  <body>
    <%- include('../_partial/header') %>

    <form action="/spots/<%= spot._id %>?_method=PUT" method="POST">
      <label for="fname">Name:</label><br>
      <input type="text" id="name" name="name" value="<%= spot.name %>"><br>
      <label for="location">Location:</label><br>
      <input type="text" id="location" name="location" value="<%= spot.location %>"><br>
      <label for="country_code">Country:</label><br>
      <select class="js-example-basic-single" name="country"><input type="text" id="country_code" name="country" value="<%= spot.country_code %>" display ="none"></select><br>
      <!-- <label for="creaure">Creature:</label><br>
      <input type="text" id="creature" name="creature" value="<%= spot.creature %>"><br> -->
      <label for="Note">Note:</label><br>
      <input type="text" id="note" name="note" value="<%= spot.note %>"><br>
      <!-- <label for="depth">Depth:</label><br>
      <input type="number" id="depth" name="depth" value="<%= spot.depth %>"><br> -->
      <label for="image">Image:</label><br>
      <input type="file" id="file" name="file" value="<%= spot.image %>" accept="image/png, image/jpeg"><br>
      <input type="submit" value="Submit">
    </form>

    <%- include('../_partial/footer') %>
  </body>
</html>
