<!DOCTYPE html>
<html  lang="en">
  <% include ../_partial/head %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Dive Spots</title>
  <body>
    <% include ../_partial/header %>
    <a href ='/spots/new'>Add Spot</a>
    <ul>
      <% result.forEach((spot) => { %>
      <li>
        <a href ='/spots/<%= spot._id %>'><%= spot.name %></a><span style="background-color: brown;"
          ><%= spot.location %></span>
      </li>
      <li>
        <img src="<%= spot.image %>" alt ="<%= spot.name %>">
      </li>
      <% }); %>
    </ul>
    
    <% include ../_partial/footer %>

  </body>
</html>
