<!DOCTYPE html>
<html  lang="en">
  <%- include('../_partial/head') %>
  <script src="/js/profile.js"></script>
  <script src="/js/drawer.js"></script>
  <body>
    <%- include('../_partial/header') %>
    <section class="relative w-full pt-20">
      <div class="w-full bg-blue-900 flex flex-col justify-center">

        <div class="flex -mx-2 justify-center items-center">
          <div class="w-1/2 mt-20 mx-10">
            <img src="<%= spot.image %>" width="95%" alt ="<%= spot.name %>">
          </div>
          <div class="w-1/2 mt-20 mx-10">
            <h1 class="text-gray-200 uppercase text-4xl font-bold font-mono tracking-widest"><%= spot.name %></h1>
            <h2 class="text-gray-200 uppercase text-3xl font-mono tracking-widest"><%= spot.location %>, <%= spot.country %></h2>
            <small class="text-gray-200 text-2xl font-mono tracking-widest my-16"><%= spot.note %></small><br>
            <small class="text-gray-200 text-2xl font-mono tracking-widest">Last Update: <%= spot.updated_at %></small>
          </div>
        </div>
          <a href="/spots"class="w-56 mt-10 mb-10 mx-10 text-center text-xl bold uppercase text-blue-900 bg-yellow-400 px-3 py-1 rounded hover:text-blue-700 cursor:pointer font-mono">Back to Spot List</a>
      </div>
      <nav
      id="nav"
      class="z-50 bg-yellow-400 uppercase font-opensans rouned
      w-64 h-full fixed top-0 right-0 hidden transition-transform-1s"
      >
      <div id="open_nav" class="top-5 ml-3">
        <svg id="close_nav" viewbox="0 0 100 80" class="cursor-pointer">
          <line x1="10" y1="10" x2="23" y2="23" stroke="#071a3b" stroke-width="4" />
          <line x1="23" y1="10" x2="10" y2="23" stroke="#071a3b" stroke-width="4" />
        </svg>
      </div>

      <div class="px-2 pt-2 pg-4">

        <a href="/users/profile" class='block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>My Profile</a>
        <a href="" class='mt-1 block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>My Dive Log</a>
        <a href="/divelogs/new" class='block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer'>Log a Dive</a>
        <a href="/users" class="mt-1 block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer">Find Buddies</a>
        <a href="/signin"><form action="/signout" method="post">
          <input
            type="submit"
            value="Log Out"
            class="mt-1 block px-2 py-1 bg-yellow-400 text-blue-900 text-2xl font-bold font-mono uppercase rounded hover:text-blue-700 cursor:pointer w-full text-left"
          />
        </form>
        </a>
        <a href ="/spots/new" class="block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer">Add a Spot</a>
        <a href ="/spots/<%= spot._id %>/edit" class="block px-2 py-1 text-blue-900 text-2xl font-bold font-mono rounded hover:text-blue-700 cursor:pointer">Edit Spot Info</a>
        <form action="/spots/<%= spot._id %>?_method=DELETE" method="POST">
          <input
            type="submit"
            value="Delete This Spot"
            class="mt-1 block px-2 bg-yellow-400 text-blue-900 text-2xl font-bold font-mono uppercase rounded hover:text-blue-700 cursor:pointer w-full text-left"
          />
        </form>
    </nav>
    </div>
    </section>

  <%- include('../_partial/footer') %>
  </body>
</html>
