<!DOCTYPE html>
<html  lang="en">
  <%- include('../_partial/head') %>
  <script src="/js/profile.js"></script>
  <body>
  <%- include('../_partial/header') %>
  <div class ="showInfo">
    <p class ="showSpotName"><%= spot.name %></p>
    <p><%= spot.location %></p>
    <p><%= spot.country %></p>
    </p><img src="<%= spot.image %>" width="70%" class="center" alt ="<%= spot.name %>"></p>
    <!-- <p class="bg-gray-700">Max Depth: <%= spot.depth %>m</p>
    <p>Wildlife: <%= spot.creature %></p> -->
    <p>Comment:<br/> <%= spot.note %></p>
    <p>Last Update: <%= spot.updated_at %></p>
  </div>

  <div class ="showAction">
    <a href ='/spots/<%= spot._id %>/edit'>edit</a>
    <form action="/spots/<%= spot._id %>?_method=DELETE" method="POST">
      <input type="submit" value="削除" />
    </form>
  </div>

  <%- include('../_partial/footer') %>
  </body>
</html>
